{% extends 'base.html' %}

{% block content %} 
<style>
    body {
        background-image: url('../static/images/adam-jaime-dmkmrNptMpw-unsplash.jpg');
        background-position: 100%;
        background-size: 100%;
        height: 100vh;
        margin: 0;
        padding-top: 50;
        
    }
</style>
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-md-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center">{{ current_user.email}}'s Whiskey Collection</h1>
            </div>
        </div>
    </div>
</section>
<section class="text-center p-5">
    <div class="container p-5">
        <ul class="list-group">
            <li class="list-group-item bg-light text-dark">Email: {{ current_user.email }}</li>
            <li class="list-group item bg-light text-dark">Token: {{ current_user.token }}</li>  
        </ul>
    </div>
</section>
{% endblock %}